<div class="jumbotron">
  <h1 class="display-4">Registrate</h1>
  <p class="lead">Si deseas recibir informacion hacerca de los comics registrate ahora mismo para estar siempre informado de todo lso temas nuevos que un verdadero fan le interesa.</p>
  <hr class="my-4">
  <p>No te pierdas esta gran oportunidad</p>

 
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="boton"> 
    Empieza el Registro
  </button>

  <div class="modal" tabindex="-1" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <td><span>Nombre:</span></td>
              <td><input type="text" ></td>
            </tr>
            <tr>
              <td><span>Sexo:</span></td>
              <td><input type="radio" id="html" name="fav_language" value="Femenino" ></td>
              <td><input type="radio" id="html" name="fav_language" value="Masculino" ></td>
            </tr>
            <tr>
              <td><span>Correo:</span></td>
              <td><input type="text" ></td>
            </tr>
            <tr>
              <td><span>Fecha de nacimiento:</span></td>
              <td><input type="date" ></td>
            </tr>

          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>